@model ShoeComment


<div class="product-details-reviews section-padding">
    <div class="row">
        <div class="col-lg-12">
            <div class="product-review-info">
                <ul class="nav review-tab">
                    <li>
                        <a data-toggle="tab" href="#tab_three">reviews</a>
                    </li>
                </ul>
                <div class="tab-content reviews-tab">
                    <div class="tab-pane fade show active" id="tab_three">
                        <form asp-action="comment" asp-controller="shoe" method="post" class="review-form">
                            <div class="form-group row">
                                <div class="col">
                                    <label asp-for="Text" class="col-form-label"><span class="text-danger">*</span> Your Review</label>
                                    <textarea class="form-control" asp-for="Text" required></textarea>
                                    <span class="text-danger" asp-validation-for="Text"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col">
                                    <label class="col-form-label"><span class="text-danger">*</span> Rating</label>
                                    &nbsp;&nbsp;&nbsp; Bad&nbsp;
                                    <input type="radio" value="1" asp-for="Rate">
                                    &nbsp;
                                    <input type="radio" value="2" asp-for="Rate">
                                    &nbsp;
                                    <input type="radio" value="3" asp-for="Rate">
                                    &nbsp;
                                    <input type="radio" value="4" asp-for="Rate">
                                    &nbsp;
                                    <input type="radio" value="5" asp-for="Rate" checked>
                                    &nbsp;Good
                                </div>
                                <span class="text-danger" asp-validation-for="Rate"></span>
                            </div>
                            <input type="hidden" value="@Model.ShoeId" name="shoeId" />
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <div class="buttons">
                                <button class="sqr-btn btn btn-primary" type="submit">Post</button>
                            </div>
                        </form> <!-- end of review-form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>